.DS_Store
node_modules

# editor files
# .vscode/

*.log

public/imports

/**/*.js
/**/*.js.map

website.tar.gz
# Add private/env.ts to gitignore to keep credentials secure
private/env.ts
private/env.json
